 <div class="top-section">
        <div class="words">
          <h1>are you an online<br> shopping person <br> we offer an innovationist app to help you purchase your food online</h1>
         
            
          
          <h3>buy fruits and veg with a click of a button</h3>
          <button class="download" mat-raised-button>Download App</button>
        </div>
        <div class="pic">
          <img src="../../../assets/top pictures.png" alt="phone">
        </div>
 </div>
  <!--<div class="top-section2">
    <mat-grid-list class="mat" cols="2" rowHeight="2:1.7">
      <mat-grid-tile>
      
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
    </mat-grid-list>
  </div>-->
  <div class="higlights-feature-section" >
          
          <div class="header2">
            <h1>welcome to our innovationists app</h1>
          </div>
          <div class="header">
            <h4 class="">explore the features included in our smart farming  app</h4>
          </div>
          <div class="cards">
            <div class="card">
              <i class="far fa-smile-beam"></i>
              <h1>great userbility</h1>
              
              <P>very easy to use and it is user friendly</P>
            
            </div>
            <div class="card">
              <i class="fas fa-tachometer-alt"></i>
              <h1>highest speed</h1>
              <P>fast laoding screens</P>
            </div>
            <div class="card">
              <i class="fas fa-palette"></i>
              <h1>awasome design</h1>
              <P>Uncode comes with pixel perfect & clean design to satisfy any possible and impossible needs.</P>
            </div>
     
          </div>
    </div>

  <section class="more-about-the-app desktop-view"  id="features">
    <div class="heading">
      <h1>what's more in the app?</h1>
    </div>
    <div class="sub-heading">
      <h1>let's describe more included feautres in our innovationists app</h1>
    </div>
    <div class="about-content">
      <div class="phone-container">
       
          <img src="../../../assets/innovations pics.png" alt="pictures">
        
      </div>
      
      <div class="details">
        <mat-grid-list cols="2" rowHeight="4:1">
         
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>chat</mat-card-title>
              <mat-card-content>
                <p style="color: black;">Message the market for stock checking
                  uses your phone's Internet connection to send messages .</p>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile> 
            <mat-card  class="example-card">
              <mat-card-title>Market place </mat-card-title>
              <mat-card-content>
                <p style="color: black;"> search and purhase products <span class="white" style="color:white;">enable  text to speechfffffff</span> </p>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>Add New products</mat-card-title>
              <mat-card-content>
                <p style="color: black;">add new product to sell on the market place<span class="white" style="color:white;">enable  text to speechfff</span></p>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>settings</mat-card-title>
              <mat-card-content>
                <p style="color: black;">save your current address, names and contact number</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>sort list</mat-card-title>
              <mat-card-content>
                <p style="color: black;">sort list in the market place
                  to quickly find your products<span class="white" style="color:white;">enable  text to speechfff</span></p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
         
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
        
      </div>
    </div>
  </section>

  <section class="more-about-the-app"  id="mobile-view" >
    <div class="heading">
      <h1>what's more in the app?</h1>
    </div>
    <div class="sub-heading">
      <h1>let's describe more included feautres in our innovationists app</h1>
    </div>
    <div class="about-content">
      <div class="phone-container">
       
          <img src="../../../assets/Good morning.png" alt="pictures">
        
      </div>
      
      <div class="details">
        <mat-grid-list cols="1" rowHeight="4:1">
          <mat-grid-tile>
            ff
          </mat-grid-tile>
          <mat-grid-tile> <span class="head"> <mat-accordion>
            <mat-expansion-panel hideToggle class="second-last">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  veiw your payment history <i class="fas fa-chevron-down"></i>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p style="color: black;">view payments which you have made since you <br> started using the app in managing your farming</p>
            </mat-expansion-panel>
          
          </mat-accordion></span></mat-grid-tile>
          <mat-grid-tile>
            <span class="head"> <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    switch user <i class="fas fa-chevron-down"></i>
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
                <p style="color: black;">you can select your preffered language  to enable <br> text to speech</p>
              </mat-expansion-panel>
            
            </mat-accordion></span>
          </mat-grid-tile>
          <mat-grid-tile><span class="head"> <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  text to speech <i class="fas fa-chevron-down"></i>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p style="color: black;">you can select your preffered language to enable <br> text  to speech</p>
            </mat-expansion-panel>
          
          </mat-accordion></span></mat-grid-tile>
          <mat-grid-tile>
            <mat-accordion>
              <mat-expansion-panel hideToggle class="second-last">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    veiw order summary <i class="fas fa-chevron-down"></i>
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
                <p style="color: black;">View all orders you have made.</p>
              </mat-expansion-panel>
            
            </mat-accordion>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-accordion>
              <mat-expansion-panel hideToggle class="second-last">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    adding estimates <i class="fas fa-chevron-down"></i>
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
                <p>storing all the estimates</p> 
              </mat-expansion-panel>
            
            </mat-accordion>
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
        
      </div>
    </div>
  </section>

 

  <section class="screens" id="screenshots">
     <div class="screen-features">
       <h2 style="color: white;">flaming hot sales</h2>
       <h1 style="color: white;">sales that saves your money</h1>
       <p>have a look at the available hot sales from selected items and save money</p>
       <img class="grid-image" src="../../../assets/flaming sales_google-pixel4-ohsoorange-portrait.png" alt="">
     </div>
     <div class="screen-features2">
      <h2 style="color: white;">market place</h2>
      <h1  style="color: white;">pick freely</h1>
      <p>Market place allow you to search and add your preffered items to cart and purchase afterwards</p>
      <img class="grid-image" src="../../../assets/market place_google-pixel4-ohsoorange-portrait.png" alt="">
    </div>
  </section>
  <section class="screens" id="screenshots">
    <div class="screen-features2">
      <h2 style="color: white;">texts</h2>
      <h1  style="color: white;">Simple, Reliable Messaging</h1>
      <p>Message your friends and family for free*. WhatsApp uses your phone's Internet connection to send messages so you can avoid SMS fees.</p>
      <img class="grid-image" src="../../../assets/messages_google-pixel4-ohsoorange-portrait.png" alt="">
    </div>
     <div class="screen-features">
       <h2 style="color: white;">profile</h2>
       <h1 style="color: white;">set a profle picture and edit your names</h1>
       <p>select your picture and set it as your profile picture and also change your names</p>
       <img class="grid-image" src="../../../assets/settings_google-pixel4-ohsoorange-portrait.png" alt="">
     </div>
   
  </section>


  <div class="after-more-about-the-app">
  <div class="download-app">
      <div class="downloads-details">
        <h1>download this app today</h1>
        <p>downloads available for Android and iphone</p>
      </div>
      <div class="button-container">
        <div class="playstor">
             
          <img src="../../../assets/app.svg" alt="">
      </div>
      <div class="playstor">
        <img src="../../../assets/play.svg" alt="">
      </div>
    </div>
  </div>
  </div>

  <!--<section class="downloads">
      
      <div class="download-details">
        <h1>download this app today</h1>
          <p>Seamlessly transform timely e-commerce for diverse leadership skills. Conveniently reconceptualize go forward expertise without extensible applications. Phosfluorescently.</p>
         
        </div>
        <div class="buttons-container">
          <div class="playstore">
             
              <img src="../../../assets/app.svg" alt="">
          </div>
          <div class="playstore">
            <img src="../../../assets/play.svg" alt="">
          </div>
        </div>
  </section>-->

  <section class="contact-us-section" id="contact">
    <div class="contact-container  ">
      <div class="container">
         
          <div class="contact-form-wrapper">
            <div class="contact-form">
              <h2>Get In Touch</h2>
              <form action="">
                <div class="single-form">
                  <label for="">Your Name</label>
                  <input type="text" placeholder="Enter Your Name">
                </div>
                <div class="single-form">
                  <label for="">Your Email</label>
                  <input type="text" placeholder="Enter Your Email">
                </div>
                <div class="single-form">
                  <label for="">Subject</label>
                  <input type="text" placeholder="Subject">
                </div>
                <div class="single-form">
                  <label for="">Your Message</label>
                  <textarea placeholder="Message"></textarea>
                </div>
                <button class="btn-submit" type="submit">Submit</button>
              </form>
            </div>
          </div>
      </div>
      
    </div>

  </section>
  
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>innovationist</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#features">features</a></li>
              <li><a href="#screenshots">screenshots</a></li>
              
            </ul>
          </div>
          <div class="footer-col">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About</a></li>
            
            </ul>
          </div>
          <div class="footer-col">
            <h4>Download</h4>
            <ul>
              <li><a href="#download">Android</a></li>
              <li><a href="#download">iPhone</a></li>
           
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="privacy-terms">
        <h4>Copyright INNOVATIONIST APP (PTY)LTD 2021.</h4>
      </div>
      <div class="privacy-terms">
        <h4>Made by Kenneth Chuenyana</h4>
        <h3>AgritourZA <i class="far fa-copyright"></i> 2021</h3>
      </div>
   </footer>
  
    
